h1,
h2,
h3,
h4,
h5 {
  font-family: 'Yantramanav-Medium';
  font-weight: $dpt-font-weight-medium;
}

h1 {
  font-size: $dpt-h1-size;

  &.display {
    font-size: $dpt-h1-display-size;
    line-height: $dpt-h1-display-line-height;
  }
}

h2 {
  font-size: $dpt-h2-size;
}

h3 {
  font-size: $dpt-h3-size;
  line-height: $dpt-h3-line-height;
}

h4 {
  font-size: $dpt-h4-size;
  line-height: $dpt-h4-line-height;
}

h5 {
  font-size: $dpt-h5-size;
  line-height: $dpt-h5-line-height;
}

hr {
  border-bottom-color: $dpt-light;
  margin-top: $dpt-xl-whitespace;
  margin-bottom: $dpt-xl-whitespace;
}

.btn-primary {
  background-color: $dpt-primary;
  border-color: $dpt-primary;
}

.dashboard-fragment-footer {
  padding: $dpt-md-whitespace;
  text-align: right;

  .view-all {
	display: inline-block;
	color: $dpt-primary;
    font-family: 'Yantramanav-Medium';
    font-size: $dpt-secondary-size;
    font-weight: $dpt-font-weight-medium;
    text-transform: uppercase;
  }
}

.dashboard-fragment-header {
  display: flex;
  justify-content: space-between;
  padding: $dpt-sm-whitespace 28px;

  .header-select {
    color: $dpt-secondary;
  }
}

.font-size-secondary {
  font-size: $dpt-secondary-size;
}

.font-size-small {
  font-size: $dpt-small-size;
  line-height: $dpt-small-line-height;
}

.font-weight-black {
  font-family: 'Yantramanav-Black';
  font-weight: $dpt-font-weight-black;
}

.font-weight-medium {
  font-family: 'Yantramanav-Medium';
  font-weight: $dpt-font-weight-medium;
}

.max-width-1224 {
  margin: 0 auto;
  width: 1295px;
}

.nav-underline {
  .nav-item {
    color: $dpt-secondary;
    font-size: $dpt-secondary-size;
    margin-right: $dpt-md-whitespace;

    &.active {
      .nav-link {
        border-bottom: 2px solid $dpt-primary;
        color: $dpt-dark;
        font-family: 'Yantramanav-Medium';
        font-weight: $dpt-font-weight-medium;
      }
    }

    .nav-link {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}

.stock-number,
.vin {
  color: $dpt-secondary;
}

.table {
  font-size: $dpt-secondary-size;

  &.table-list {
    td,
    th {
      &:last-child,
      &:first-child {
        box-shadow: inset 0 0.0625rem #e7e7ed, 0 0.0625rem #e7e7ed;
      }
    }
  }

  th {
    color: $dpt-dark;
  }
}

.vehicle-name {
  font-family: 'Yantramanav-Medium';
  font-size: 18px;
  font-weight: $dpt-font-weight-medium;
}

&.dealer-portal-card, .portlet-content {
	margin-bottom: 24px;
	background: #FFFFFF;
	box-shadow: 0px 4px 10px rgba(23, 23, 26, 0.1);
	border-radius: 4px;
}