.footer {
	background-color: $dpt-dark;
	padding-bottom: 56px;
	padding-top: 56px;

	a {
		color: $dpt-white;
	}

	.company-copyright-text {
		color: $dpt-background;
	}

	.copyright {
		display: flex;
		padding-top: 64px;
		justify-content: space-between;
	}

	.footer-links {
		font-size: $dpt-sm-whitespace;
		font-weight: $dpt-font-weight-medium;

		a {
			display: block;
			padding-bottom: $dpt-sm-whitespace;
		}
	}
}
